# Compilados Java
*.class
*.war
*.ear
*.jar

# Logs
*.log

# Arquivos de sistema
.DS_Store
Thumbs.db

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# Build tools
target/
build/
.gradle/
!gradle/wrapper/gradle-wrapper.jar

# Arquivos de cache
*.swp
*.swo

# Configurações locais
*.env
